@page
@model TGLWebApp.Pages.Students.IndexModel
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h1>Students</h1>

<form method="post">

    <table >
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Nit</th>
                <th>Age</th>
                <th>Computers</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>

            @foreach (var student in Model.Students)
            {
            <tr>

                <td>
                    @student.Id
                </td>
                <td>
                    @student.Name
                </td>
                <td>
                    @student.LastName
                </td>
                <td>
                    @student.Nit
                </td>
                <td>
                    @student.Age
                </td>
                <td>
                    @foreach(var computer in student.Computers)
                    {
                        <p>computer.Brand</p>
                    }
                </td>
                <td>
                    <a asp-page="Edit"
                       asp-route-id="@student.Id"
                       class="btn blue-grey darken-2 text-white">
                        Edit
                    </a>

                    <button type="submit"
                            asp-page-handler="delete"
                            asp-route-id="@student.Id"
                            class="btn red darken-2 text-white">
                        Delete
                    </button>

                    <a asp-page="../Computers/Add"
                       asp-route-id="@student.Id"
                       class="btn blue-grey blue-2 text-white">
                        Add Computer
                    </a>
                </td>
            </tr>

            }
        </tbody>
    </table>
</form>

<br />

<a asp-page="Add" class="light-blue darken-1 text-white btn">Create new student</a>